apache-fop/src/test/resources/docbook-xsl/slides/schema/xsd/markup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of DocBook V5.0
  
  Copyright 1992-2008 HaL Computer Systems, Inc.,
  O'Reilly & Associates, Inc., ArborText, Inc., Fujitsu Software
  Corporation, Norman Walsh, Sun Microsystems, Inc., and the
  Organization for the Advancement of Structured Information
  Standards (OASIS).
  
  Release: $Id: pool.rnc 7466 2007-09-27 14:03:55Z nwalsh $
  
  Permission to use, copy, modify and distribute the DocBook schema
  and its accompanying documentation for any purpose and without fee
  is hereby granted in perpetuity, provided that the above copyright
  notice and this paragraph appear in all copies. The copyright
  holders make no representation about the suitability of the schema
  for any purpose. It is provided "as is" without expressed or implied
  warranty.
  
  If you modify the DocBook schema in any way, label your schema as a
  variant of DocBook. See the reference documentation
  (http://docbook.org/tdg5/en/html/ch05.html#s-notdocbook)
  for more information.
  
  Please direct all questions, bug reports, or suggestions for changes
  to the docbook@lists.oasis-open.org mailing list. For more
  information, see http://www.oasis-open.org/docbook/.
  
  ======================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://docbook.org/ns/docbook" xmlns:dbs="http://docbook.org/ns/docbook-slides" xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://docbook.org/ns/docbook-slides" schemaLocation="slides.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="db.markup.inlines" abstract="true"/>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.markup.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.markup.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="markup" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.markup.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.tag.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:simpleType name="db.tag.class.enumeration">
    <xs:restriction base="xs:token">
      <xs:enumeration value="attribute">
        <xs:annotation>
          <xs:documentation>An attribute</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="attvalue">
        <xs:annotation>
          <xs:documentation>An attribute value</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="element">
        <xs:annotation>
          <xs:documentation>An element</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="emptytag">
        <xs:annotation>
          <xs:documentation>An empty element tag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="endtag">
        <xs:annotation>
          <xs:documentation>An end tag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="genentity">
        <xs:annotation>
          <xs:documentation>A general entity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="localname">
        <xs:annotation>
          <xs:documentation>The local name part of a qualified name</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="namespace">
        <xs:annotation>
          <xs:documentation>A namespace</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="numcharref">
        <xs:annotation>
          <xs:documentation>A numeric character reference</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="paramentity">
        <xs:annotation>
          <xs:documentation>A parameter entity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pi">
        <xs:annotation>
          <xs:documentation>A processing instruction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prefix">
        <xs:annotation>
          <xs:documentation>The prefix part of a qualified name</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="comment">
        <xs:annotation>
          <xs:documentation>An SGML comment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="starttag">
        <xs:annotation>
          <xs:documentation>A start tag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="xmlpi">
        <xs:annotation>
          <xs:documentation>An XML processing instruction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="db.tag.class.attribute">
    <xs:attribute name="class" use="required" type="db:db.tag.class.enumeration"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.tag.namespace.attribute">
    <xs:attribute name="namespace" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.tag.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="class" type="db:db.tag.class.enumeration"/>
    <xs:attribute name="namespace" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:element name="tag" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.tag.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.symbol.class.attribute">
    <xs:attribute name="class" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="limit">
            <xs:annotation>
              <xs:documentation>The value is a limit of some kind</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.symbol.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.symbol.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="class">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="limit">
            <xs:annotation>
              <xs:documentation>The value is a limit of some kind</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="symbol" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.symbol.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.token.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.token.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="token" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.token.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.literal.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.literal.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="literal" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.literal.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="code.language.attribute">
    <xs:attribute name="language" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.code.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.code.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="language"/>
  </xs:attributeGroup>
  <xs:element name="code" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="db:db.programming.inlines"/>
        <xs:group ref="db:db._text"/>
      </xs:choice>
      <xs:attributeGroup ref="db:db.code.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.constant.class.attribute">
    <xs:attribute name="class" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="limit">
            <xs:annotation>
              <xs:documentation>The value is a limit of some kind</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.constant.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.constant.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="class">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="limit">
            <xs:annotation>
              <xs:documentation>The value is a limit of some kind</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="constant" substitutionGroup="db:db.markup.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.constant.attlist"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
