apache-fop/src/test/resources/docbook-xsl/slides/schema/xsd/refentry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of DocBook V5.0
  
  Copyright 1992-2008 HaL Computer Systems, Inc.,
  O'Reilly & Associates, Inc., ArborText, Inc., Fujitsu Software
  Corporation, Norman Walsh, Sun Microsystems, Inc., and the
  Organization for the Advancement of Structured Information
  Standards (OASIS).
  
  Release: $Id: refentry.rnc 8931 2010-10-20 13:29:20Z nwalsh $
  
  Permission to use, copy, modify and distribute the DocBook schema
  and its accompanying documentation for any purpose and without fee
  is hereby granted in perpetuity, provided that the above copyright
  notice and this paragraph appear in all copies. The copyright
  holders make no representation about the suitability of the schema
  for any purpose. It is provided "as is" without expressed or implied
  warranty.
  
  If you modify the DocBook schema in any way, label your schema as a
  variant of DocBook. See the reference documentation
  (http://docbook.org/tdg5/en/html/ch05.html#s-notdocbook)
  for more information.
  
  Please direct all questions, bug reports, or suggestions for changes
  to the docbook@lists.oasis-open.org mailing list. For more
  information, see http://www.oasis-open.org/docbook/.
  
  ======================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://docbook.org/ns/docbook" xmlns:dbs="http://docbook.org/ns/docbook-slides" xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://docbook.org/ns/docbook-slides" schemaLocation="slides.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:group name="db.toplevel.refsection">
    <xs:choice>
      <xs:element maxOccurs="unbounded" ref="db:refsection"/>
      <xs:element maxOccurs="unbounded" ref="db:refsect1"/>
    </xs:choice>
  </xs:group>
  <xs:group name="db.secondlevel.refsection">
    <xs:choice>
      <xs:element maxOccurs="unbounded" ref="db:refsection"/>
      <xs:element maxOccurs="unbounded" ref="db:refsect2"/>
    </xs:choice>
  </xs:group>
  <!-- ====================================================================== -->
  <xs:element name="db.reference.components" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.indexterm"/>
        <xs:group ref="db:db.refentry.info"/>
        <xs:element minOccurs="0" ref="db:refmeta"/>
        <xs:element maxOccurs="unbounded" ref="db:refnamediv"/>
        <xs:element minOccurs="0" ref="db:refsynopsisdiv"/>
        <xs:group ref="db:db.toplevel.refsection"/>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.refentry.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.reference.status.attribute">
    <xs:attributeGroup ref="db:db.status.attribute"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.reference.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.reference.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="status"/>
    <xs:attribute name="label"/>
  </xs:attributeGroup>
  <xs:group name="db.reference.info">
    <xs:sequence>
      <xs:group ref="db:db._info.title.req"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="reference" substitutionGroup="db:db.divisions">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:db.reference.info"/>
        <xs:element minOccurs="0" ref="db:partintro"/>
        <xs:element maxOccurs="unbounded" ref="db:db.reference.components"/>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.reference.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refentry.status.attribute">
    <xs:attributeGroup ref="db:db.status.attribute"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refentry.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refentry.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="status"/>
    <xs:attribute name="label"/>
  </xs:attributeGroup>
  <xs:group name="db.refentry.info">
    <xs:sequence>
      <xs:group ref="db:db._info.title.forbidden"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="refentry" substitutionGroup="db:db.reference.components"/>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refmeta.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refmeta.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="refmeta">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.indexterm"/>
        <xs:element ref="db:refentrytitle"/>
        <xs:element minOccurs="0" ref="db:manvolnum"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="db:refmiscinfo"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.indexterm"/>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.refmeta.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:simpleType name="db.refmiscinfo.class.enumeration">
    <xs:restriction base="xs:token">
      <xs:enumeration value="source">
        <xs:annotation>
          <xs:documentation>The name of the software product or component to which this topic applies</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="version">
        <xs:annotation>
          <xs:documentation>The version of the software product or component to which this topic applies</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="manual">
        <xs:annotation>
          <xs:documentation>The section title of the reference page (e.g., User Commands)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sectdesc">
        <xs:annotation>
          <xs:documentation>The section title of the reference page (believed synonymous with "manual" but in wide use)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="software">
        <xs:annotation>
          <xs:documentation>The name of the software product or component to which this topic applies (e.g., SunOS x.y; believed synonymous with "source" but in wide use)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="db.refmiscinfo.class-enum.attribute">
    <xs:attribute name="class" type="db:db.refmiscinfo.class.enumeration"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refmiscinfo.class-other.attribute">
    <xs:attribute name="otherclass" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refmiscinfo.class-other.attributes">
    <xs:attribute name="class" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="other">
            <xs:annotation>
              <xs:documentation>Indicates that the information is some 'other' kind.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="db:db.refmiscinfo.class-other.attribute"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refmiscinfo.class.attribute">
    <xs:attribute name="class">
      <xs:simpleType>
        <xs:union memberTypes="db:db.refmiscinfo.class.enumeration">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="other">
                <xs:annotation>
                  <xs:documentation>Indicates that the information is some 'other' kind.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="otherclass"/>
  </xs:attributeGroup>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refmiscinfo.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refmiscinfo.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attributeGroup ref="db:db.refmiscinfo.class.attribute"/>
  </xs:attributeGroup>
  <xs:element name="refmiscinfo">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.refmiscinfo.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refnamediv.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refnamediv.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="refnamediv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="db:refdescriptor"/>
        <xs:element maxOccurs="unbounded" ref="db:refname"/>
        <xs:element ref="db:refpurpose"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="db:refclass"/>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.refnamediv.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refdescriptor.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refdescriptor.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="refdescriptor">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.all.inlines"/>
      <xs:attributeGroup ref="db:db.refdescriptor.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refname.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refname.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="refname">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.all.inlines"/>
      <xs:attributeGroup ref="db:db.refname.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refpurpose.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refpurpose.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="refpurpose">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.all.inlines"/>
      <xs:attributeGroup ref="db:db.refpurpose.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refclass.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refclass.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="refclass">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="db:application"/>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.refclass.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refsynopsisdiv.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refsynopsisdiv.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:group name="db.refsynopsisdiv.info">
    <xs:sequence>
      <xs:group ref="db:db._info"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="refsynopsisdiv">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:db.refsynopsisdiv.info"/>
        <xs:choice>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="db:db.all.blocks"/>
            <xs:group minOccurs="0" ref="db:db.secondlevel.refsection"/>
          </xs:sequence>
          <xs:group ref="db:db.secondlevel.refsection"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.refsynopsisdiv.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.refsection.status.attribute">
    <xs:attributeGroup ref="db:db.status.attribute"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refsection.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.refsection.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attribute name="status"/>
    <xs:attribute name="label"/>
  </xs:attributeGroup>
  <xs:group name="db.refsection.info">
    <xs:sequence>
      <xs:group ref="db:db._info.title.req"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="refsection">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="db:db.refsection.info"/>
        <xs:choice>
          <xs:sequence>
            <xs:group maxOccurs="unbounded" ref="db:db.all.blocks"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="db:refsection"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="db:refsection"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="db:db.refsection.attlist"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
