core-java/src/test/resources/docbook-xsl/slides/schema/xsd/technical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of DocBook V5.0
  
  Copyright 1992-2008 HaL Computer Systems, Inc.,
  O'Reilly & Associates, Inc., ArborText, Inc., Fujitsu Software
  Corporation, Norman Walsh, Sun Microsystems, Inc., and the
  Organization for the Advancement of Structured Information
  Standards (OASIS).
  
  Release: $Id: pool.rnc 7466 2007-09-27 14:03:55Z nwalsh $
  
  Permission to use, copy, modify and distribute the DocBook schema
  and its accompanying documentation for any purpose and without fee
  is hereby granted in perpetuity, provided that the above copyright
  notice and this paragraph appear in all copies. The copyright
  holders make no representation about the suitability of the schema
  for any purpose. It is provided "as is" without expressed or implied
  warranty.
  
  If you modify the DocBook schema in any way, label your schema as a
  variant of DocBook. See the reference documentation
  (http://docbook.org/tdg5/en/html/ch05.html#s-notdocbook)
  for more information.
  
  Please direct all questions, bug reports, or suggestions for changes
  to the docbook@lists.oasis-open.org mailing list. For more
  information, see http://www.oasis-open.org/docbook/.
  
  ======================================================================
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://docbook.org/ns/docbook" xmlns:dbs="http://docbook.org/ns/docbook-slides" xmlns:db="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://docbook.org/ns/docbook-slides" schemaLocation="slides.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ====================================================================== -->
  <!-- ====================================================================== -->
  <xs:simpleType name="db.systemitem.class.enumeration">
    <xs:restriction base="xs:token">
      <xs:enumeration value="daemon">
        <xs:annotation>
          <xs:documentation>A daemon or other system process (syslogd)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domainname">
        <xs:annotation>
          <xs:documentation>A domain name (example.com)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="etheraddress">
        <xs:annotation>
          <xs:documentation>An ethernet address (00:05:4E:49:FD:8E)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="event">
        <xs:annotation>
          <xs:documentation>An event of some sort (SIGHUP)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="eventhandler">
        <xs:annotation>
          <xs:documentation>An event handler of some sort (hangup)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="filesystem">
        <xs:annotation>
          <xs:documentation>A filesystem (ext3)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fqdomainname">
        <xs:annotation>
          <xs:documentation>A fully qualified domain name (my.example.com)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="groupname">
        <xs:annotation>
          <xs:documentation>A group name (wheel)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ipaddress">
        <xs:annotation>
          <xs:documentation>An IP address (127.0.0.1)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="library">
        <xs:annotation>
          <xs:documentation>A library (libncurses)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="macro">
        <xs:annotation>
          <xs:documentation>A macro</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="netmask">
        <xs:annotation>
          <xs:documentation>A netmask (255.255.255.192)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="newsgroup">
        <xs:annotation>
          <xs:documentation>A newsgroup (comp.text.xml)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="osname">
        <xs:annotation>
          <xs:documentation>An operating system name (Hurd)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="process">
        <xs:annotation>
          <xs:documentation>A process (gnome-cups-icon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="protocol">
        <xs:annotation>
          <xs:documentation>A protocol (ftp)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="resource">
        <xs:annotation>
          <xs:documentation>A resource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="securitycontext">
        <xs:annotation>
          <xs:documentation>A security context (a role, permission, or security token, for example)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="server">
        <xs:annotation>
          <xs:documentation>A server (mail.example.com)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="service">
        <xs:annotation>
          <xs:documentation>A service (ppp)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="systemname">
        <xs:annotation>
          <xs:documentation>A system name (hephaistos)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="username">
        <xs:annotation>
          <xs:documentation>A user name (ndw)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="db.systemitem.class-enum.attribute">
    <xs:attribute name="class" type="db:db.systemitem.class.enumeration"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.systemitem.class-other.attribute">
    <xs:attribute name="otherclass" use="required" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.systemitem.class-other.attributes">
    <xs:attribute name="class" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="other">
            <xs:annotation>
              <xs:documentation>Indicates that the system item is some 'other' kind.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="db:db.systemitem.class-other.attribute"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.systemitem.class.attribute">
    <xs:attribute name="class">
      <xs:simpleType>
        <xs:union memberTypes="db:db.systemitem.class.enumeration">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="other">
                <xs:annotation>
                  <xs:documentation>Indicates that the system item is some 'other' kind.</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="otherclass" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.systemitem.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.systemitem.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
    <xs:attributeGroup ref="db:db.systemitem.class.attribute"/>
  </xs:attributeGroup>
  <xs:element name="systemitem" substitutionGroup="db:db.technical.inlines">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="db:db.systemitem.inlines"/>
      <xs:attributeGroup ref="db:db.systemitem.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.option.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.option.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="option" substitutionGroup="db:db.technical.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.option.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.optional.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.optional.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="optional" substitutionGroup="db:db.technical.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.optional.attlist"/>
    </xs:complexType>
  </xs:element>
  <!-- ====================================================================== -->
  <xs:attributeGroup name="db.property.role.attribute">
    <xs:attribute name="role" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="db.property.attlist">
    <xs:attribute name="role"/>
    <xs:attributeGroup ref="dbs:db.common.attributes"/>
    <xs:attributeGroup ref="db:db.common.linking.attributes"/>
  </xs:attributeGroup>
  <xs:element name="property" substitutionGroup="db:db.technical.inlines">
    <xs:complexType mixed="true">
      <xs:group ref="db:db._text"/>
      <xs:attributeGroup ref="db:db.property.attlist"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
