testing-modules/xmlunit-2/src/test/resources/students.xsd

<?xml version = "1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name='class'>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='student' type='StudentObject'
					minOccurs='0' maxOccurs='unbounded' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StudentObject">
		<xs:sequence>
			<xs:element name="name" type="xs:string" />
			<xs:element name="age" type="xs:positiveInteger" />
		</xs:sequence>
		<xs:attribute name='id' type='xs:positiveInteger' />
	</xs:complexType>
</xs:schema>